
footer{
    position:absolute;
    width: 100%;
    margin: auto;
    padding: auto;
    background-color: black;
    color: #fff;
    text-align: center;
}
#contact-details{
    float: left;
    text-align: justify;
}